<div class="heading">
        <h1> Click the keys below to make a sound! </h1>
    </div>
        <div class="keyboard">
            <ul class="set">
                <li class="white b" id="whitef"></li>
                <li class="black as" id="blackfs"></li>
                <li class="white a" id="whiteg"></li>
                <li class="black gs" id="blackgs"></li>
                <li class="white g" id="whitea"></li>
                <li class="black fs" id="blackas"></li>
                <li class="white f" id="whiteb"></li>
                <li class="white e" id="whitec"></li>
                <li class="black ds" id="blackcs"></li>
                <li class="white d" id="whited"></li>
                <li class="black cs" id="blackds"></li>
                <li class="white c" id="whitee"></li>
                </ul>
        </div>
    <div id="testjavascript">
    </div>